.footer {
    background-color: #2e8b57;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  .footer button {
    color: #fff;
    text-decoration: underline;
    padding: 0;
    border: none;
    background: none;
  }
  .footer a {
    color: #90ee90;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  


  